fieldset.R_M_E{
    width: 750px;
    margin: 15px auto;
    color: #444;
    border: 2px solid black;
    font-family: Helvetica;
    padding: 15px;
}

fieldset.R_M_A{
    width: 900px;
    margin: 15px auto;
    color: #444;
    border: 2px solid black;
    font-family: Helvetica;
    padding: 15px;
}

fieldset.R_E{
    width: 900px;
    margin: 15px auto;
    color: #444;
    font-family: Helvetica;
    padding: 15px;
}

fieldset.R_M_S_V{
    width: 900px;
    margin: 15px auto;
    color: #444;
    border: 2px solid black;
    font-family: Helvetica;
    padding: 15px;
}

h1{
    text-align: center;
    font-size: 12px;
}

h1.entrada{
    text-align: center;
    font-size: 15px;
}

h2.entrada{
    text-align: left;
    font-size: 13px;
}

h2{
    text-align: center;
    font-size: 11px;
}

div{
    border: 1px solid;
}

p.sub-titulo{
    font-size: 20px;
}

div.entrada{
    background: silver;
    height: 20px;
}

.direita{
    text-align: right;
}

.center{
    text-align: center;
}

/* Classe para o estilo do cabeçalho da Tabela */
.header{
    background: silver;
}

/* Classe para o estilo do cabeçalho da Tabela de R_E */
tr.header_desc{
    background: silver;
    font-size: 12px;
}

/* Classe para o estilo do cabeçalho de Fornecedor*/
div.header_1 {
    background: silver;
    font-size: 12px;
    height: 10px;
}


/* Quebra dos cabeçalhos das colunas da tabela de itens*/
#quebra {
    width: 14%;
}

/* Quebra dos cabeçalhos das colunas da tabela de itens*/
#total {
    width: 300%;
}

/* h1 do pdf de material de serviço vascular */
#h1_R_S_V {
    font-size: 18px;
}

/* h1 do pdf de material de serviço vascular */
#h1_R_M_A {
    font-size: 18px;
}

/* th do pdf de material de serviço vascular */
#th_desc_R_S_V {
    width: 50%;
}

/* th do pdf de cod de R_E */
#th_cod_R_E {
    width: 8%;
}

/* th do pdf de entrada */
#th_desc_R_E {
    width: 60%;
}

/* th do pdf de material de serviço vascular */
#th_desc_R_M_A {
    width: 50%;
}

/* th do pdf de vl_custo de R_E*/
#th_vl_custo_R_E {
    width: 10%;
}

/* th do pdf de vl_total de R_E*/
#th_vl_total_R_E {
    width: 10%;
}

/* th do pdf de qtd de R_E*/
#th_qtd_R_E {
    width: 8%;
}

/* th do pdf de und R_E*/
#th_und_R_E {
    width: 8%;
}

/* th do pdf de lote R_E*/
#th_lote_R_E {
    width: 5%;
}

/* th do pdf de validade R_E*/
#th_validade_R_E {
    width: 15%;
}


