fieldset.R_M_E{
    width: 750px;
    margin: 15px auto;
    color: #444;
    border: 2px solid black;
    font-family: Helvetica;
    padding: 15px;
}

fieldset.R_M_A{
    width: 900px;
    margin: 15px auto;
    color: #444;
    border: 2px solid black;
    font-family: Helvetica;
    padding: 15px;
}

fieldset.R_E{
    width: 900px;
    margin: 15px auto;
    color: #444;
    font-family: Helvetica;
    padding: 15px;
}

fieldset.R_M_S_V{
    width: 900px;
    margin: 15px auto;
    color: #444;
    border: 2px solid black;
    font-family: Helvetica;
    padding: 15px;
}

h1{
    text-align: center;
    font-size: 12px;
}

h1.entrada{
    text-align: center;
    font-size: 17px;
}

h2{
    text-align: center;
    font-size: 11px;
}

div{
    border: 1px solid;
}

p.sub-titulo{
    font-size: 20px;
}

.direita{
    text-align: right;
}

.center{
    text-align: center;
}

/* Classe para o estilo do cabeçalho da Tabela */
.header{
    background: silver;
}

/* Classe para o estilo do cabeçalho de Fornecedor*/
.header_1 {

}

/* Quebra dos cabeçalhos das colunas da tabela de itens*/
#quebra {
    width: 14%;
}

/* Quebra dos cabeçalhos das colunas da tabela de itens*/
#total {
    width: 300%;
}

/* h1 do pdf de material de serviço vascular */
#h1_R_S_V {
    font-size: 18px;
}

/* h1 do pdf de material de serviço vascular */
#h1_R_M_A {
    font-size: 18px;
}

/* th do pdf de material de serviço vascular */
#th_desc_R_S_V {
    width: 50%;
}

/* th do pdf de entrada */
#th_desc_R_E {
    width: 50%;
}

/* th do pdf de material de serviço vascular */
#th_desc_R_M_A {
    width: 50%;
}

/* th do pdf de entrada*/
#th_vl_custo_R_M_A {
    width: 15%;
}

